<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RentACar.Properties.Settings.RentACarConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=RentACar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RentACar.Properties.Settings.RentACarConnectionString1"
            connectionString="Data Source=SEATLE;Initial Catalog=RentACar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>